- name: Download Firefox Installer
  ansible.windows.win_get_url:
    url: https://download.mozilla.org/?product=firefox-latest&os=win64&lang=en-US
    dest: C:\Temp\Firefox Setup.exe

- name: Install Firefox
  ansible.windows.win_package:
    path: C:\Temp\Firefox Setup.exe
    product_id: Mozilla Firefox
    arguments: '-ms'  # -ms enables silent installation
    state: present    
...